@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

:root {
    --font-family: 'Gilroy', sans-serif;
    --main-color: #070707;
    --un-active-color: #828282;
    --bg-color: #f6f6f6;
}

body {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: var(--main-color);
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

.list-reset {
    list-style-type: none;
    padding: 0;
}

.link-reset {
    text-decoration: none;
    color: currentColor;
}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

.bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.title {
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
}

/* === header === */

.header {
    margin: 33px 0 40px;
}

.header-container {
    border-bottom: 1px solid var(--un-active-color);
    padding: 0;
}

.header-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
}

.header-list__link {
    color: var(--un-active-color);
    transition: 0.5s;
}

.header-list__link--active {
    color: var(--main-color);
    font-weight: 700;
}

.header-list__link:hover {
    color: var(--main-color);
}

/* === hero === */

.hero {
    margin-bottom: 104px;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 31px;
}

.hero-name {
    font-size: 47px;
    line-height: 59px;
    font-weight: 700;
}

.hero-job {
    font-size: 18px;
    line-height: 22px;
}

.hero-lang {
    color: var(--un-active-color);
    font-weight: 700;
    font-size: 16px;
    transform: rotate(-90deg);
    position: relative;
    right: -23px;
    bottom: 25px;
}

.active-lang {
    color: var(--main-color);
}

.hero-img {
    background-image: url('../images/hero-bg.jpg');
    height: 387px;
}

/* === about-me === */

.about-me {
    background-color: var(--bg-color);
    text-align: center;
}

.about-me-title {
    margin-bottom: 18px;
    padding-top: 120px;
}

.about-me__text {
    padding-bottom: 107px;
}

.about-me__text-item {
    line-height: 22px;
}

.about-me__text-item:not(:last-child) {
    margin-bottom: 42px;
}

/* === skills === */

.skills {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 91px;
}

.skills-title {
    margin: 0 0 69px;
}

.skills-text {
    margin-bottom: 83px;
}

.skills__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-first__wrapper {
    display: flex;
    margin-right: 90px;
}

.skills-second__wrapper {
    display: flex;
}

.skills__item {
    width: 166px;
    margin-bottom: 60px;
}

.skills__item:nth-child(odd){
    margin-right: 90px;
}

.skills__item-img {
    margin-bottom: 23px;
    height: 90px;
    width: 90px;
    display: inline-block;
}

.skills__item-title {
    color: var(--un-active-color);
    margin-bottom: 41px;
    height: 40px;
}

.skiils__item-stars__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* === portfolio === */

.portfolio {
    background-color: var(--bg-color);
    text-align: center;
    padding-bottom: 96px;
}

.portfolio-title {
    padding-top: 113px;
    margin-bottom: 47px;
}

.portfolio__item:not(:last-child) {
    margin-bottom: 99px;
}

.porfolio-img {
    height: 522px;
    margin-bottom: 45px;
    display: inline-block;
}

.portfolio__item-title {
    text-decoration: underline;
}

.porfolio-img {
    width: 100%;
    height: auto;
}

/* === footer === */

.footer {
    text-align: center;
    margin-top: 114px;
    margin-bottom: 123px;
}

.contacts-title {
    margin-bottom: 20px;
}

.contacts-text {
    margin-bottom: 30px;
    line-height: 22px;
}

.form {
    margin-bottom: 86px;
}

.footer-btn {
    background-color: var(--main-color);
    color: #fff;
    padding: 13px 30px;
    border: 0;
    border-radius: 100px;
    cursor: pointer;
}

.social-link__inner {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

.social-link__item:not(:last-child) {
    margin-right: 60px;
}

.social-text {
    font-size: 14px;
    line-height: 17px;
    color: var(--un-active-color);
}

@media (max-width: 950px){
    .skills-first__wrapper {
        margin-right: 0px;
    }
    .skills__item {
        margin-right: 0px;
    }
}

@media (max-width: 450px){
    .skills__item:nth-child(odd){
        margin-right: 0px;
    }
    .skills-first__wrapper {
        flex-direction: column;
        align-self: center;
    }
    .skills-second__wrapper {
        flex-direction: column;
        align-self: center;
    }
    .skills__wrapper {
        flex-direction: column;
    }
    .skills__item {
        align-self: center;
    }
}