@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

:root {
    --font-family: 'Gilroy', sans-serif;
    --main-color: #070707;
    --un-active-color: #828282;
    --bg-color: #f6f6f6;
}

body {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: var(--main-color);
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

.list-reset {
    list-style-type: none;
    padding: 0;
}

.link-reset {
    text-decoration: none;
    color: currentColor;
}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

.bg-img {
    background-image: url('../images/hero-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

/* === header === */

.header {
    margin: 33px 0 40px;
}

.header-container {
    border-bottom: 1px solid var(--un-active-color);
    padding: 0;
}

.header-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
}

.header-list__link {
    color: var(--un-active-color);
    transition: 0.5s;
}

.header-list__link--active {
    color: var(--main-color);
    font-weight: 700;
}

.header-list__link:hover {
    color: var(--main-color);
}

/* === hero === */

.hero {
    margin-bottom: 104px;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 31px;
}

.hero-name {
    font-size: 47px;
    line-height: 59px;
    font-weight: 700;
}

.hero-job {
    font-size: 18px;
    line-height: 22px;
}

.hero-lang {
    color: var(--un-active-color);
    font-weight: 700;
    font-size: 16px;
    transform: rotate(-90deg);
    position: relative;
    right: -23px;
    bottom: 25px;
}

.active-lang {
    color: var(--main-color);
}

.hero-img {
    height: 387px;
}

/* === about-me === */

.about-me {
    background-color: var(--bg-color);
    text-align: center;
}

.title {
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 18px;
    padding-top: 120px;
}

.about-me__text {
    padding-bottom: 107px;
}

.about-me__text-item {
    font-size: 18px;
    line-height: 22px;
}

.about-me__text-item:not(:last-child) {
    margin-bottom: 42px;
}